<div class="login">
  <img class="background" src="assets/images/Imagem 5.png">

  <img class="detail" src="assets/images/Grupo 19.png">

  <div class="container">
    <img src="assets/images/LOGO.png">

    <div class="container--inputs">
    <span>E-mail</span>
    <input type="text" [(ngModel)]="email">
    <span>Senha</span>
    <input type="password" [(ngModel)]="password">
  </div>

  <ion-button (click)="login">confirmar</ion-button>

  <p>Não possui conta? <a href="">cadastra-se!</a></p>

  </div>
</div>
